<!DOCTYPE html>
<html lang="en" dir="1tr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form class="" action="/result" method="get">
            User: <input type = "text" step="" name="user" value="" placeholder="Enter your Username"><br>
            Password: <input type = "password" step="" name="token" value="" placeholder="Enter your Password"><br>
            Email: <input type = "text" step="" name="email" value="" placeholder="Enter your Email"><br>
            Name: <input type = "text" step="" name="name" value="" placeholder="Enter your Name"><br>
            Age: <input type = "number" step="" name="age" value="" placeholder="Enter your Age"><br>
            <input type="submit" name="" value="Dang ky">
        </form>
    </body>
</html>