<!DOCTYPE html>
<html lang="en" dir="1tr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form class="" action=" {{url_for('tinh_diem') }}" method="post">
            Toan: <input type = "number" step="" name="math" value=""><br>
            Ly: <input type = "number" step="" name="physics" value=""><br>
            Hoa: <input type = "number" step="" name="chemistry" value=""><br>
            <input type="submit" name="" value="Tinh diem">
        </form>
    </body>
</html>